<section class="br-container">
    <a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/36/" class="br-button dark-mode">
        <div class="create-profile-link-icon">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <span class="create-profile-link-text">Voltar</span>
    </a>

    <h1 class="title">Comissão Organizadora</h1>

    <h2>Comissão Executiva</h2>
    <ul>
        <li>Elisabetta Recine</li>
        <li>Antônio Ricardo Domingos da Costa (Dourado Tabeba)</li>
        <li>Daniela Frozi</li>
        <li>Edgar Aparecido de Moura</li>
        <li>Jean Pierre Tertuliano Câmara</li>
        <li>Mariana Santarelli</li>
        <li>Regina Barros Goulart Nogueira</li>
        <li>Valéria Burity</li>
        <li>Vanessa Schottz</li>
    </ul>

    <h2>Subcomissão de Metodologia e Conteúdo</h2>
    <ul>
        <li>Adriana Marcolino</li>
        <li>Daniela Frozi</li>
        <li>Débora Rodrigues</li>
        <li>Gabriela Freitas</li>
        <li>Inês Rugani</li>
        <li>Iracema Ferreira de Moura</li>
        <li>Jean Pierre Tertuliano Câmara</li>
        <li>Juliana Casemiro</li>
        <li>Leila Santana da Silva</li>
        <li>Marina B. Caixeta</li>
        <li>Nayara Rocha</li>
        <li>Patrícia Gentil</li>
        <li>Regina Barros Goulart Nogueira</li>
        <li>Renata Machado</li>
        <li>Renata Menasche</li>
        <li>Valéria Burity</li>
    </ul>

    <h2>Subcomissão de Mobilização e Comunicação</h2>
    <ul>
        <li>Carolina Oliveira Dias</li>
        <li>Clodoaldo Pontes</li>
        <li>Edgar Aparecido de Moura</li>
        <li>Fátima Aparecida Garcia de Moura</li>
        <li>Isis Leite Ferreira</li>
        <li>Iya Maria Cristina Silveira Prado Martins</li>
        <li>Juliano Ferreira de Sá</li>
        <li>Maluh Barciotte</li>
        <li>Marcelo Fragoso</li>
        <li>Naidison de Quintella Baptista</li>
        <li>Regina Barros Goulart Nogueira (Kota Mulangi)</li>
        <li>Sonia Alencar</li>
    </ul>

    <h2>Subcomissão de Infraestrutura e Captação de Recursos</h2>
    <ul>
        <li>Caroline Dolabona</li>
        <li>Cristiana Paiva Gomes</li>
        <li>Edgar Aparecido de Moura</li>
        <li>Eduardo Costa</li>
        <li>Irio Conti</li>
        <li>Julian Perez</li>
        <li>Luiza Trabuco</li>
        <li>Maria Alaídes Alves Sousa</li>
        <li>Maria Edna de Melo</li>
        <li>Mariana Santarelli</li>
        <li>Rosemberg Moraes</li>
        <li>Sheila Lima</li>
        <li>Tatá Nganga Dile (Edson Augusto Nogueira)</li>
        <li>Ubiraci Dantas de Oliveira</li>
    </ul>

    <h2>Secretaria-Executiva do Consea</h2>

    <h3>Equipe Técnica</h3>
    <ul>
        <li>Marília Mendonça Leão</li>
        <li>Marcos Aurelio Lopes Filho</li>
        <li>Carmen Priscila Bocchi</li>
        <li>Tatiane Nunes Pereira</li>
        <li>Celiana Nogueira Cabral dos Santos</li>
    </ul>

    <h3>Equipe Administrativa</h3>
    <ul>
        <li>July Ayalla Timoteo da Silva</li>
        <li>Elaine dos Santos Silva</li>
    </ul>
</section>

<style>
    .back-button {
        font-size: 26px;
        font-weight: 600;
        color: #1351b4;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }

    .back-button i {
        margin-right: 5px;
    }

    .back-button:hover {
        background-color: #f0f0f0;
    }

    .title {
        padding-top: 32px;
    }

    .create-profile-link,
    .create-profile-link:hover {
        display: flex;
        padding: 8px 48px;
        gap: 0.5rem;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        border-radius: 100px;
        background: var(---white);
        color: var(---blue-warm-vivid-70);
        font-size: var(--unnamed-font-size-16-799999237060547);
        font-weight: 600;
        border: 1px solid var(---blue-warm-vivid-70);
        max-width: 207px;
        margin: 1.5rem auto;
    }

    .create-profile-link:hover {
        color: var(---blue-warm-vivid-70);
        border-color: var(---blue-warm-vivid-70);
        background-color: rgba(var(--interactive-rgb), var(--hover));
        text-decoration: none;
    }

    .create-profile-link-icon {
        color: var(---blue-warm-vivid-70);
    }

    .create-profile-link-text {
        color: var(---blue-warm-vivid-70);
        padding-left: 10px;
    }
</style>