<section class="br-container">

        <a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/36/" class="br-button dark-mode">
                <div class="create-profile-link-icon">
                        <i class="fa-solid fa-chevron-left"></i>
                </div>
                <span class="create-profile-link-text">Voltar</span>
        </a>
        <h1 class="title">Documentos</h1>

        <h2 style="font-size: 16px;">6ª Conferência Nacional de Segurança Alimentar e Nutricional</h2>

        <ul>
                <li><a href="https://www.in.gov.br/en/web/dou/-/resolucao-n-3/consea-de-15-de-junho-de-2023-490092819">Resolução
                                nº 3/CONSEA, de 15 de junho de 2023</a> - Trata da convocação da 6ª
                        Conferência Nacional de Segurança Alimentar e Nutricional a ser realizada em Brasília (DF), no
                        período de 11
                        a 14 de dezembro de 2023.</li>

                <li><a href="https://www.gov.br/secretariageral/pt-br/consea/conferencia/CadernodeOrientacoes6aConferencia_final_16.06.23.pdf">Caderno
                                de Orientações da 6ª Conferência Nacional de Segurança Alimentar e
                                Nutricional</a></li>

                <li><a href="https://www.gov.br/secretariageral/pt-br/consea/conferencia/orientacoes-e-regulamento-para-as-conferencias-livres-nacionais">Orientações
                                e Regulamento para as Conferências Livres Nacionais</a></li>

                <li><a href="https://www.gov.br/secretariageral/pt-br/consea/conferencia/duvidas-frequentes-sobre-a-6a-conferencia-nacional-de-seguranca-alimentar-e-nutricional-e-as-conferencias-livres-nacionais">Dúvidas
                                Frequentes sobre a 6ª Conferência Nacional de Segurança Alimentar e
                                Nutricional e as Conferências Livres Nacionais</a></li>

                <li><a href="https://www.gov.br/secretariageral/pt-br/consea/conferencia/documento-base-da-6-cnsan-09-08-23_site.pdf">Documento
                                Base da 6ª Conferência Nacional de Segurança Alimentar e
                                Nutricional</a></li>
        </ul>
</section>

<style>
        .back-button {
                font-size: 26px;
                font-weight: 600;
                color: #1351b4;
                padding: 10px 15px;
                border-radius: 5px;
                text-decoration: none;
        }

        .back-button i {
                margin-right: 5px;
        }

        .back-button:hover {
                background-color: #f0f0f0;
        }

        .title {
                padding-top: 32px;
        }

        .create-profile-link,
        .create-profile-link:hover {
                display: flex;
                padding: 8px 48px;
                gap: 0.5rem;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                border-radius: 100px;
                background: var(---white);
                color: var(---blue-warm-vivid-70);
                font-size: var(--unnamed-font-size-16-799999237060547);
                font-weight: 600;
                border: 1px solid var(---blue-warm-vivid-70);
                max-width: 207px;
                margin: 1.5rem auto;
        }

        .create-profile-link:hover {
                color: var(---blue-warm-vivid-70);
                border-color: var(---blue-warm-vivid-70);
                background-color: rgba(var(--interactive-rgb), var(--hover));
                text-decoration: none;
        }

        .create-profile-link-icon {
                color: var(---blue-warm-vivid-70);
        }

        .create-profile-link-text {
                color: var(---blue-warm-vivid-70);
                padding-left: 10px;
        }
</style>