<section class="br-container">
    <h1>6ª Conferência Nacional de Segurança Alimentar e Nutricional</h1>
    <p>A 6ª Conferência Nacional de Segurança Alimentar e Nutricional será precedida de Conferências Estaduais e do
        Distrito Federal, Municipais e/ou Regionais ou Territoriais, Conferências Livres Nacionais.</p>
    <p>As etapas da 6ª CNSAN serão realizadas nos seguintes períodos:</p>
    <ul>
        <li>Conferências Municipais e/ou Regionais ou Territoriais – até 30 de agosto de 2023;</li>
        <li>Conferências Estaduais e do Distrito Federal – até 30 de outubro de 2023;</li>
        <li>Conferências Livres Nacionais – até 30 de outubro de 2023;</li>
        <li>Encontros Temáticos Nacionais - até 30 de outubro de 2023;</li>
        <li>Conferência Nacional - 11 a 14 de dezembro de 2023.</li>
    </ul>
    <p>Para cadastro de delegados(as) e para preencher o relatório das conferências, acessar os seguintes formulários:
    </p>
    <ul>
        <li><a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/56/">Relatório da Conferência
                estadual / Distrital</a></li>
        <li><a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/54/">Cadastro de Delegados da
                Sociedade Civil das UFs</a></li>
        <li><a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/55/">Cadastro de Delegados da
                Conferência estadual / Distrital (Governo)</a></li>
        <li><a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/53/">Relatório da Conferência
                Nacional Livre</a></li>
        <li><a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/57/">Cadastro de Delegados da
                Conferência Nacional Livre</a></li>
    </ul>

    <p>Quer saber a data, local e mais informações sobre a etapa da 6ª CNSAN mais próximo de você?</p>
    <p>Confira na agenda:</p>
</section>
<section class="actions-section br-container">
    <a class="action-container"
        href="https://app.powerbi.com/view?r=eyJrIjoiYzY3NmYyMDQtM2M0NC00NmEwLTkzMDUtZTRjZTI0ZDE4OTZjIiwidCI6ImNmODQ1NGQzLWUwMTItNGE5ZC05NWIzLTcwYmRiNmY0NTlkNSJ9">
        <div class="action-icon-background"><i class="fa fa-solid fa-calendar fa-2xl"></i></div>
        <p class="action-text">Agenda</p>
        <div class="arrow-action-icon-background"><i class="fa fa-solid fa-arrow-circle-right fa-2xl"></i></div>
    </a>
</section>

<style>
    .actions-section {
        display: flex;
        gap: 16px;
        justify-content: center;
        padding: 2.5rem 0;
        flex-flow: column;
        align-items: center
    }

    @media (min-width:1284px) {
        .actions-section {
            display: flex;
            gap: 2.5rem;
            justify-content: space-evenly;
            padding: 2.5rem 0;
            flex-flow: row
        }
    }

    .action-container {
        display: flex;
        flex-flow: row;
        border-radius: 16px;
        background-color: var(--gray-4);
        gap: 16px;
        align-items: center;
        padding: 8px;
        justify-content: flex-start;
        width: 312px
    }

    .action-icon-background {
        width: 52px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: #168821;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff
    }

    .action-text {
        font-size: 1.458rem;
        line-height: 1.2;
        width: 184px;
        margin: 0 0 4px 0;
        color: var(--color-secondary-08)
    }

    .arrow-action-icon-background {
        color: var(--gray-60)
    }
</style>