<section class="br-container">
    <a href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/36/" class="br-button dark-mode">
        <div class="create-profile-link-icon">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <span class="create-profile-link-text">Voltar</span>
    </a>

    <h1 class="title">Objetivos</h1>

    <h2>2.3 Objetivo Geral</h2>
    <p>Fortalecer os compromissos políticos com a Democracia, com a erradicação da fome com Comida de Verdade e com o
        Direito Humano à Alimentação Adequada, por meio de sistemas alimentares justos, antirracistas, antipatriarcais,
        sustentáveis, promotores de saúde e da Soberania e Segurança Alimentar e Nutricional.</p>

    <h2>2.4 Objetivos Específicos e Eixos Temáticos</h2>

    <h3>Eixo 1 - DETERMINANTES ESTRUTURAIS E MACRODESAFIOS PARA A SOBERANIA E SEGURANÇA ALIMENTAR E NUTRICIONAL</h3>
    <ul>
        <li>Analisar os determinantes estruturais da(s) fome(s) e de todas as formas de má-nutrição e propor diretrizes
            e prioridades para que o Estado brasileiro atue na direção da Soberania e Segurança Alimentar e Nutricional
            - SSAN, em âmbito nacional e internacional.</li>
        <li>Definir estratégias de superação das desigualdades estruturais, dos racismos e todas as formas de
            discriminação que permeiam os sistemas alimentares desde a perspectiva das mulheres, povos indígenas,
            população negra, quilombolas, povos e comunidades tradicionais, pessoas com deficiência, população LGBTQIA+,
            e demais grupos historicamente excluídos.</li>
        <li>Propor caminhos para um desenvolvimento socioeconômico sustentável, solidário e justo que contribua para a
            erradicação definitiva da fome e todas as formas de má nutrição com Comida de Verdade.</li>
    </ul>

    <h3>Eixo 2 - SISTEMA NACIONAL DE SEGURANÇA ALIMENTAR E NUTRICIONAL E POLÍTICAS PÚBLICAS GARANTIDORAS DO DIREITO
        HUMANO À ALIMENTAÇÃO ADEQUADA</h3>
    <ul>
        <li>Elaborar diagnóstico situacional da implementação do Sistema Nacional de Segurança Alimentar e Nutricional -
            Sisan, das políticas, programas e ações de SAN em âmbito municipal, estadual e nacional, e propor diretrizes
            e prioridades para o 3º Plano Nacional de Segurança Alimentar e Nutricional e para fortalecer a adesão, o
            cofinanciamento, a pactuação, a articulação e a gestão intersetorial e federativa do Sisan e das políticas
            públicas garantidoras do Direito Humano à Alimentação Adequada - DHAA a todas as pessoas.</li>
        <li>Promover compromisso dos Poderes Executivo, Legislativo e Judiciário nas três esferas federativas para o
            fortalecimento e democratização do Sisan, inclusive para a criação de instrumentos de exigibilidade do DHAA,
            no contexto das políticas públicas.</li>
        <li>Definir estratégias para formação permanente de gestores, trabalhadoras e trabalhadores e de integrantes do
            controle social em Soberania e Segurança Alimentar e Nutricional - SSAN e sobre o DHAA em processos
            dialógicos e participativos.</li>
    </ul>

    <h3>Eixo 3 - DEMOCRACIA E PARTICIPAÇÃO SOCIAL</h3>
    <ul>
        <li>Definir mecanismos para ampliar a participação e o controle social no Sistema Nacional de Segurança
            Alimentar e Nutricional - Sisan para a formulação, implementação, monitoramento e avaliação das políticas
            públicas garantidoras da Soberania e Segurança Alimentar e Nutricional – SSAN.</li>
        <li>Acolher e potencializar as contribuições dos diversos segmentos sociais representados na 6ª Conferência
            Nacional de SAN sobre estratégias de enraizamento e territorialização da participação social na gestão das
            políticas públicas e iniciativas do poder público em âmbito Municipal, Estadual e Federal.</li>
        <li>Propor estratégias de comunicação e mobilização da sociedade para fortalecer o pacto social pela Democracia
            como pilar da SSAN e do Direito Humano à Alimentação Adequada construídos com a força das lutas e o
            protagonismo dos sujeitos de direito e dos seus territórios, no âmbito nacional e global.</li>
    </ul>
</section>

<style>
    .back-button {
        font-size: 26px;
        font-weight: 600;
        color: #1351b4;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }

    .back-button i {
        margin-right: 5px;
    }

    .back-button:hover {
        background-color: #f0f0f0;
    }

    .title {
        padding-top: 32px;
    }

    .create-profile-link,
    .create-profile-link:hover {
        display: flex;
        padding: 8px 48px;
        gap: 0.5rem;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        border-radius: 100px;
        background: var(---white);
        color: var(---blue-warm-vivid-70);
        font-size: var(--unnamed-font-size-16-799999237060547);
        font-weight: 600;
        border: 1px solid var(---blue-warm-vivid-70);
        max-width: 207px;
        margin: 1.5rem auto;
    }

    .create-profile-link:hover {
        color: var(---blue-warm-vivid-70);
        border-color: var(---blue-warm-vivid-70);
        background-color: rgba(var(--interactive-rgb), var(--hover));
        text-decoration: none;
    }

    .create-profile-link-icon {
        color: var(---blue-warm-vivid-70);
    }

    .create-profile-link-text {
        color: var(---blue-warm-vivid-70);
        padding-left: 10px;
    }
</style>