<section class="br-container">
  <a
    href="https://brasilparticipativo.presidencia.gov.br/assemblies/cnsan6/f/36/"
    class="br-button dark-mode"
  >
    <div class="create-profile-link-icon">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <span class="create-profile-link-text">Voltar</span>
  </a>
  <h1 class="title" text-align="justify">
    Dúvidas Frequentes sobre a 6ª Conferência Nacional de Segurança Alimentar e
    Nutricional
  </h1>
  <div text-align="justify">
    <span
      >As dúvidas frequentes incluídas nesse espaço representam uma extensão dos
      Cadernos de Orientação da 6ª Conferência Nacional de Segurança Alimentar e
      Nutricional e serão atualizadas constantemente. Dúvidas não elucidadas
      neste espaço e no Cadernos de Orientação podem ser enviadas para o e-mail
      6conferenciasan@presidencia.gov.br</span
    >
    <br /><br />
    <span>(atualizado em 17.08.2023)</span>
  </div>
  <div class="collapse-example">
    <div class="br-list" role="list" data-sub="data-sub">
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l1"
      >
        <div class="content">
          <div class="flex-fill">
            1 - Os custos das pessoas da sociedade civil eleitas como delegadas
            nas etapas estaduais e do Distrito Federal, bem como nas
            Conferências Livres Nacionais serão cobertos por qual instituição?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l1"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">
              O Consea Nacional irá custear todas as pessoas eleitas como
              delegadas nas etapas estaduais e do Distrito Federal e nas
              Conferências Livres Nacionais (nos termos dos respectivos
              regulamentos), que sejam representantes da sociedade civil. Este
              custeio inclui exclusivamente transporte (aéreo), hospedagem e
              alimentação. Qualquer gasto pessoal extra que a pessoa tiver
              durante a 6ª CNSAN deverá ser arcado pela pessoa participante.
            </div>
          </div>
          <span class="br-divider"></span>
        </div>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l2"
      >
        <div class="content">
          <div class="flex-fill">
            2 - CONSEA Nacional irá financiar as despesas para os deslocamentos
            rodoviários dos/as delegados/as da sociedade civil que sairão do
            interior até o aeroporto da capital do Estado?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l2"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">
              O Consea não dispõe de nenhuma fonte orçamentária para custear os
              deslocamentos rodoviários (internos no Estado) de delegados da
              sociedade civil e, portanto, não podemos nos comprometer que tais
              despesas serão custeadas. Se, porventura, conseguirmos alguma
              fonte de recursos possível, informaremos oportunamente, mas
              sugerimos que as delegações já se organizem com os recursos do
              Estados ou dos Municípios para fazer face aos deslocamentos
              internos.
            </div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l3"
      >
        <div class="content">
          <div class="flex-fill">
            3 - O consea Nacional também irá financiar representantes estaduais
            do governo?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l3"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">
              O Consea nacional somente irá financiar representantes da
              sociedade civil e pessoas delegadas natas nacionais. Assim, serão
              custeadas pelo Consea Nacional pessoas eleitas como delegadas
              representantes da sociedade civil nas conferências estaduais, do
              Distrito Federal e nas Conferências Nacionais Livres, e
              presidentes dos Conseas Estaduais e do Distrito Federal, por serem
              delegados natos da 6ª CNSAN.
            </div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l4"
      >
        <div class="content">
          <div class="flex-fill">
            4 - Existe a necessidade das entidades terem CNPJ para participarem
            das Conferências?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l4"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">Não</div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l5"
      >
        <div class="content">
          <div class="flex-fill">
            5 - Quando será disponibilizado o modelo de Relatório Final das
            Conferências Estaduais/Distrital? E o modelo do Relatório Final das
            Conferências Livres Nacionais
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l5"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">
              Os dois modelos serão disponibilizados até do dia
              <b>06/09/2023.</b>
            </div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l6"
      >
        <div class="content">
          <div class="flex-fill">
            6 - Representantes do governo poderão propor e participar de
            Conferências Livres Nacionais?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l6"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">
              Conforme Regulamento, as Conferências Livres Nacionais devem “ser
              organizadas por: instituições, organizações, coletivos ou
              movimentos populares e sociais que tenham em sua agenda de debate
              e ação a defesa dos direitos sociais, da democracia e da
              participação popular de quaisquer dimensões temáticas da Segurança
              Alimentar e Nutricional (SAN), que não tenham conflito de
              interesses que possam ferir a legislação, os princípios e práticas
              no âmbito da soberania e segurança alimentar e nutricional” para
              serem incorporadas ao processo da 6ª CNSAN.
              <b
                >As Conferências Livres Nacionais também não poderão eleger
                pessoas delegadas representantes de governos.</b
              >
              Contudo, representantes de governo podem participar e apoiar a
              realização das conferências, desde que não sejam a instituição
              organizadora principal. Também é necessário garantir que a
              sociedade civil tenha liberdade de realizar suas proposições,
              independentemente da posição e dos interesses de representantes do
              governo presentes.
            </div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l7"
      >
        <div class="content">
          <div class="flex-fill">
            7 - Qual a carga horária mínima para que as Conferências Livres
            Nacionais possam integrar a 6ª CNSAN?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l7"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">
              A carga horária mínima para que as Conferências Livres Nacionais
              possam integrar a 6ª CNSAN é de 04 horas.
            </div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l8"
      >
        <div class="content">
          <div class="flex-fill">
            8 - Existe a necessidade das entidades terem CNPJ para participarem
            das Conferências Livres Nacionais?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l8"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">Não.</div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
      <div
        class="br-item"
        role="listitem"
        tabindex="0"
        data-toggle="collapse"
        data-target="c-l9"
      >
        <div class="content">
          <div class="flex-fill">
            9 - As Conferências Municipais podem ocorrer depois do dia 30 de
            agosto de 2023?
          </div>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div
        class="br-list"
        id="c-l9"
        role="list"
        hidden="hidden"
        data-sub="data-sub"
      >
        <div class="br-item dropdown-content" role="listitem">
          <div class="row align-items-center">
            <div class="col">
              Sim, o estado tem liberdade para organizar o calendário interno -
              apenas não flexibilizamos a data limite para a Conferência
              Estadual (30 outubro de 2023) e o prazo máximo para envio do
              relatório do estado e da ata de eleição dos delegados (07 de
              novembro de 2023).
            </div>
          </div>
        </div>
        <span class="br-divider"></span>
      </div>
    </div>
  </div>
</section>

<script>
  // Obtém todos os elementos com a classe "br-item"
  const brItems = document.querySelectorAll(".br-item");

  // Adiciona um ouvinte de evento de clique a cada elemento "br-item"
  brItems.forEach((item) => {
    item.addEventListener("click", () => {
      // Obtém o ID do elemento com data-target
      const targetId = item.getAttribute("data-target");

      // Obtém o elemento com base no ID
      const brList = document.getElementById(targetId);

      // Alterna a visibilidade da lista quando o item é clicado
      if (brList) {
        brList.style.display =
          brList.style.display === "block" ? "none" : "block";
      }
    });
  });
</script>

<style>
  .flex-fill {
    font-weight: 600;
  }

  .align-items-center {
    background-color: #f0f0f0;
  }

  .col {
    padding: 8px 16px;
  }

  .dropdown-content {
    padding: 0px !important;
  }

  .back-button {
    font-size: 26px;
    font-weight: 600;
    color: #1351b4;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
  }

  .back-button i {
    margin-right: 5px;
  }

  .back-button:hover {
    background-color: #f0f0f0;
  }

  .title {
    padding-top: 32px;
  }
  .create-profile-link,
  .create-profile-link:hover {
    display: flex;
    padding: 8px 48px;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    background: var(---white);
    color: var(---blue-warm-vivid-70);
    font-size: var(--unnamed-font-size-16-799999237060547);
    font-weight: 600;
    border: 1px solid var(---blue-warm-vivid-70);
    max-width: 207px;
    margin: 1.5rem auto;
  }
  .create-profile-link:hover {
    color: var(---blue-warm-vivid-70);
    border-color: var(---blue-warm-vivid-70);
    background-color: rgba(var(--interactive-rgb), var(--hover));
    text-decoration: none;
  }
  .create-profile-link-icon {
    color: var(---blue-warm-vivid-70);
  }
  .create-profile-link-text {
    color: var(---blue-warm-vivid-70);
    padding-left: 10px;
  }
</style>
