<script>
</script>

<style>
    p {
        text-align: justify;
    }
</style>

<section class="actions-section br-container">
    <a class="action-container" href="/assemblies/cnsan6/f/37/">
        <div class="action-icon-background"><i class="fa fa-solid fa-user-friends fa-2xl"
                style="padding-right: 34px"></i></div>
        <p class="action-text">Comissão organizadora</p>
        <div class="arrow-action-icon-background"><i class="fa fa-solid fa-arrow-circle-right fa-2xl"></i></div>
    </a>
    <a class="action-container" href="/assemblies/cnsan6/f/38/">
        <div class="action-icon-background"><i class="fa fa-solid fa-check-circle fa-2xl"
                style="padding-right: 28px"></i></div>
        <p class="action-text">Objetivos</p>
        <div class="arrow-action-icon-background"><i class="fa fa-solid fa-arrow-circle-right fa-2xl"></i></div>
    </a>
    <a class="action-container" href="/assemblies/cnsan6/f/40/">
        <div class="action-icon-background"><i class="fa fa-solid fa-question fa-2xl"></i></div>
        <p class="action-text">Perguntas frequentes</p>
        <div class="arrow-action-icon-background"><i class="fa fa-solid fa-arrow-circle-right fa-2xl"></i></div>
    </a>
    <a class="action-container" href="/assemblies/cnsan6/f/39/">
        <div class="action-icon-background"><i class="fa fa-solid fa-file-alt fa-2xl"></i></div>
        <p class="action-text">Documentos</p>
        <div class="arrow-action-icon-background"><i class="fa fa-solid fa-arrow-circle-right fa-2xl"></i></div>
    </a>
    <a class="action-container"
        href="https://drive.google.com/drive/folders/1j4nnGUQpI2CRmRUpTeEOaQiaeAq3qzdM?usp=drive_link">
        <div class="action-icon-background"><i class="fa fa-solid fa-bullhorn fa-2xl"></i></div>
        <p class="action-text">Mobilização</p>
        <div class="arrow-action-icon-background"><i class="fa fa-solid fa-arrow-circle-right fa-2xl"></i></div>
    </a>
</section>

<style>
    .actions-section {
        display: flex;
        gap: 16px;
        justify-content: center;
        padding: 2.5rem 0;
        flex-flow: column;
        align-items: center;
        max-width: 1160px;
    }

    @media (min-width:1284px) {
        .actions-section {
            flex-wrap: wrap !important;
            display: flex;
            flex-flow: column;
            gap: 1rem;
            padding: 2.5rem 0;
            flex-flow: row
        }
    }

    .action-container {
        display: flex;
        flex-flow: row;
        border-radius: 16px;
        background-color: var(--gray-4);
        gap: 16px;
        align-items: center;
        padding: 8px;
        justify-content: flex-start;
        width: 312px
    }

    .action-icon-background {
        width: 52px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: #168821;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff
    }

    .action-text {
        font-size: 1.458rem;
        line-height: 1.2;
        width: 184px;
        margin: 0 0 4px 0;
        color: var(--color-secondary-08)
    }

    .arrow-action-icon-background {
        color: var(--gray-60)
    }
</style>

<section class="br-container">
    <div id="menuapoio"></div>

    <h2><b>O Consea voltou!</b></h2>
    <p>A 6ª Conferência Nacional de Segurança Alimentar e Nutricional, que ocorrerá de 11 a 14 de dezembro de 2023, em
        Brasília/DF, acontece num momento crucial da sociedade brasileira, no qual a necessidade do fortalecimento da
        democracia e da participação social é fundamental para o restabelecimento de condições dignas de vida e
        cidadania.</p>

    <p>A Conferência está sendo organizada pelo Consea Nacional em parceria com a Câmara Interministerial de Segurança
        Alimentar e Nutricional - CAISAN e todos os demais componentes do Sistema Nacional de Segurança Alimentar e
        Nutricional – SISAN.</p>

    <p>Todas as nossas ações se dirigem para que tenhamos uma Conferência onde todas, todos e todes tenham
        representação, a partir de suas comunidades, coletivos, organizações, territórios, municípios, estados.</p>

    <p>Além do fortalecimento da participação social, precisamos debater e reconstruir, do ponto de vista das políticas
        públicas, a Política e o Plano Nacional de Segurança Alimentar e Nutricional, que sofreram reveses importantes
        nos últimos anos.</p>

    <p>As ações da sociedade civil, de coletivos diversos e redes sempre tiveram um papel fundamental na defesa da
        Segurança Alimentar e Nutricional. Esta defesa e diferentes ações práticas foram essenciais para que o quadro de
        fome durante a pandemia da COVID-19 não fosse ainda pior.</p>

    <p>Graças à ação competente e responsável da Rede Brasileira de Pesquisa em Soberania e Segurança Alimentar e
        Nutricional, que teve origem em um grupo de trabalho do Consea, foi revelado o aviltante número de 33 milhões de
        pessoas em situação de fome. Foi pela ação ativa das redes de solidariedade entre iguais, que alimentos
        saudáveis, produzidos pela agricultura familiar e camponesa, chegaram às famílias das periferias de nossas
        cidades.</p>

    <p>Banquetaços, a Conferência Popular por Soberania e Segurança Alimentar e Nutricional e inúmeras outras
        articulações defenderam programas e medidas emergenciais no Congresso Nacional, denunciaram cotidianamente as
        omissões e exigiram medidas de efetivas de reparação para a superação do cenário dramático de vulnerabilidade e
        fome no país.</p>

    <p>Enfrentando diferentes desafios, Conseas Estaduais e Municipais sustentaram o Sisan. A cada obstáculo, a
        sociedade civil brasileira que defende direitos e o interesse público recriou formas de resistência e
        mobilização.</p>

    <p>É esta diversidade de sujeitos sociais que está sendo chamada para se integrar ao potente processo de mobilização
        da 6ª Conferência Nacional de SAN, a partir de conferências municipais, regionais, territoriais, estaduais,
        conferências livres e encontros temáticos.</p>

    <p>Todas as nossas discussões se darão em torno do lema “Erradicar a fome e garantir direitos com Comida de Verdade,
        Democracia e Equidade”. Os aprendizados, ainda em curso, sobre as razões que nos levaram ao rápido desmonte de
        políticas públicas e retrocessos nos resultados que conquistamos em pouco mais de uma década dirigem nossas
        discussões e propostas para o futuro.</p>

    <p>A ampla diversidade e representatividade que o processo conferencial nos proporciona, a avaliação dos processos
        de implementação de políticas e programas e as propostas advindas dos diferentes saberes e práticas irão compor
        o conjunto de medidas que iremos entregar ao Governo Federal para a elaboração do 3º Plano Nacional de Segurança
        Alimentar e Nutricional.</p>

    <p>A 6ª CNSAN aponta para uma nova e decisiva etapa de concretização da Lei Orgânica de Segurança Alimentar e
        Nutricional que assegura o Direito Humano à Alimentação Adequada no país.</p>

    <p>Determinantes comuns dos grandes desafios contemporâneos, pobreza, colapso climático, fome e todas as formas de
        má nutrição exigem, para a sua superação, a articulação de políticas, programas e ações. Com o compromisso por
        parte dos poderes e o fortalecimento da participação social, o Sisan é o sistema de políticas públicas que tem a
        missão de cumprir este objetivo e deve ser fortalecido e consolidado para tanto.</p>

    <p>O Consea, a democracia e a participação social voltaram!</p>

    <p>Elisabetta Recine</p>
    <p>Presidenta do Conselho Nacional de Segurança Alimentar e Nutricional</p>
</section>